In [3]:
#cell 2 is main code, others are different function and use of code,
# i used other cells for different other functions and made notes on how to use them

In [4]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Display the first few rows to inspect the data
print(df.head())

# Check for missing data counts in each column
missing_data_counts = df.isna().sum()
print("Missing data counts:\n", missing_data_counts)

rows, columns = df.shape 
# df.shape checks the size of the data set
#this fucntion is an attribute, whichb represent the static information that represent the obnject, in this case, the dataset
print(f"Total Rows: {rows}")
print(f"Total Columns: {columns}")


general_information = df.describe()
print("The general information of this data set is:\n", general_information )

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...
Missing data counts:
 row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64
Total Rows: 391
Total Columns: 11
The general information of this data set is:
             row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [5]:
# Check the total number of rows and columns
rows, columns = df.shape
print(f"Total Rows: {rows}") # read and print the amount of row from the shape of the data set 
print(f"Total Columns: {columns}") # read and print the amount of row from the shape of the data set

Total Rows: 391
Total Columns: 11

In [6]:
a = df.describe()
print("describing the funtion:\n", a)

#this function is a method, it represent the function that the object can do 

# below was an error i faced
#NameError                                
#Cell In[4], line 1
#----> 1 a = df.describe()
#      2 print("describing the funtion:\n", a)

#NameError: name 'df' is not defined

# Resolution i found:
#so i need to put it in cell 2, because df is not defined in this new In, other word data frame was not created in cell 4
#or i just needed to rerun the code in other cell so it has memory when i relaunch the server
#this works for the other cell when ever i relauched

describing the funtion:
             row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [7]:
 df['gender'].value_counts()

    #Note:
    #given the original code :
    # df['column'].value_counts()
    #i can check which ever column i want by simply replace the name of that column with whyats in the bracket
    #value_counts() sort that column for me

gender
male      204
female    187
Name: count, dtype: int64

In [8]:
df.dropna()
   
#this is method in pandas that drops a ROW when there is one or more missing value

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [9]:
df.dropna(axis=0)
#Note:
# the same as dropping rows if theres one or more missing value, axis=0 means row

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [10]:
df.dropna(axis=1)
#Note:
# dropping a COLUMN if theres one or more misssing value, axis = 1 means column

,row_n,name,gender,species,birthday,personality,phrase,full_id,url
0,2,Admiral,male,bird,1-27,cranky,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,Agent S,female,squirrel,7-2,peppy,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,Agnes,female,pig,4-21,uchi,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,Al,male,gorilla,10-18,lazy,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,Alfonso,male,alligator,6-9,lazy,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...
386,475,Winnie,female,horse,1-31,peppy,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,Wolfgang,male,wolf,11-25,cranky,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,Yuka,female,koala,7-20,snooty,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,Zell,male,deer,6-7,smug,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,Zucker,male,octopus,3-8,lazy,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [11]:
df.dropna(how='all')
#Note
# it drops the rows / columns when all the values are missing.
# depends on what the condition of axis is at, axis=0 are rows, axis=1 are columns, when all the values are missing

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [12]:
df.dropna(how='any')
#Note
# it drops any of the row or columns, depending on what axis, when theses rowsa or columns have one or more missing valus
# ans examplem or giving axies:
# df.dropna(how='any', axis=1)

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [13]:
df.dropna(thresh=2)
#Note:
# keep any rows or columns have the corresponding numbers of value, 
# in this case, it kept any rows that has two (thresh = 2) or more certain values

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [14]:
 df.dropna(subset=['name', 'gender'])
#Note
#only dropping rows with missing value with the specified columns
#in this case, it is name and gender

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [15]:
#del df['song']

#Note:
#this funtion allows you to delete any columns in the data set, 
# in this cased it is the column named 'id'
# a key error keep appearing but chatGPT did not help me redirect to the right solution

In [16]:
df.drop(0)
#Note:
# same funtion as the previous one except, it drop/delete a row
# in this case it is row named '0'

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
5,8,alice,Alice,female,koala,8-19,normal,Surfin' K.K.,guvnor,villager-alice,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [17]:
df.isna().sum()
#Note
# it demonstratres how many missing value does each columns has

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [18]:
#chatGPT reach limited conversation at this point, below is the link to the conversation
#  https://chatgpt.com/share/69e2faae-7fc2-436a-afe5-0eb789bb9ac7

In [19]:
df.groupby("id")["gender"].describe()
#Note:
# it regroups the two columns and compare/ rematch with their unique elements
#in this case, it is 'id' and 'gender'

         count unique     top freq
id
admiral      1      1    male    1
agent-s      1      1  female    1
agnes        1      1  female    1
al           1      1    male    1
alfonso      1      1    male    1
...        ...    ...     ...  ...
winnie       1      1  female    1
wolfgang     1      1    male    1
yuka         1      1  female    1
zell         1      1    male    1
zucker       1      1    male    1

[390 rows x 4 columns]

In [20]:
# further more use with open AI and some wrong coding test with it, url below
#https://chatgpt.com/share/5c7217e1-5108-4cdf-98b8-fa0e1b270ce1